/* estilos.css */


body {
    font-family: "Jersey 15", sans-serif;
    font-size: 24px;
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    color: rgb(55, 132, 0);
}


hr {
    max-width: 60%; /* Defina a largura máxima desejada */
    margin: 0 auto;
}

p {
    font-size: 20px;
    color: rgb(55, 132, 0);
}
iframe {
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 20px;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
