/* estilos.css */

/*Padrão*/
body {
    font-family: "Jersey", sans-serif;
    font-size: 24px;
    background-color: rgb(18, 18, 18);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}

hr {
    max-width: 60%; /* Defina a largura máxima desejada */
    margin: 0 auto;
}

p {
    font-size: 20px;
    background: rgb(230, 230, 230);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
iframe {
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 20px;
}
/*_____________________________*/


/*Fontes*/

.Jersey {
    font-family: 'Jersey';
    font: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey';
    src: url('Fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*_____________________________*/


/*Customização*/
.cores {
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.cor_text-h1 {
    background-color: rgb(230, 230, 230);
    color: rgb(18, 18, 18);
}

.hidden {
    display: none;
}

/*_____________________________*/
