/* estilos.css */

body {
    font-family: "Jersey", sans-serif;
    font-size: 20px;
    background-color: #000000;
    text-align: center;
    color: rgb(255,234,0);
}

li {
    text-align: initial;
}

hr {
    max-width: 100%;
    margin: 0 auto;
}

p {
    font-size: 20px;
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    border-radius: 16px;
}

/*Fontes*/

.Jersey {
    font-family: 'Jersey';
    font: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey';
    src: url('Fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*_____________________________*/

.red_asterisco {
    color: red;
}

.cores {
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}