/* estilos.css */

/*Padrão*/
body {
    font-family: 'Jersey', sans-serif;
    font-size: 20px;
    background-color: rgb(18, 18, 18);
    text-align: center;
    color: rgb(190, 183, 173)
;

}

li {
    text-align: initial;
}

hr {
    max-width: 100%;
    margin: 0 auto;
}

p {
    font-size: 20px;
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    border-radius: 16px;
}
/*_____________________________*/


/*Fontes*/

.Jersey {
    font-family: 'Jersey';
    font: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey';
    src: url('Fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*_____________________________*/


/*Customização*/
.red_asterisco {
    color: rgb(190, 183, 173)
;
}

.cores {
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.cor_text-h1 {
    background-color: rgb(230, 230, 230);
    color: rgb(18, 18, 18);
}

.cor_text {
    color: rgb(230, 230, 230);
}

/*_____________________________*/