* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.site-conteudo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;     /*Para colocar a fonte na parte de baixo*/
    justify-content: flex-end;  /*<---*/
}

/*---------Titulo---------*/
.titulo {
    text-align: center;
    font-family: 'great-vibes', cursive ;
    font-style: normal;
    font-size: 80px;
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

  
@font-face {
    font-family: 'great-vibes';
    src: url('Fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*_______________________________*/

/*---------Planos de Fundo---------*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imagens/Adoration-Blessed-Sacrament.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease; /* Suaviza a transição */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imagens/Jesus-misericordia.png);
    background-size: cover;
    background-position: center;
    z-index: -2; /* Coloca a imagem atrás do conteúdo */
}
/*_______________________________*/

/*---------Config dos Box---------*/
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que as divs se movam para a próxima linha */
    justify-content: space-between;
    position: relative;
    padding: 20px;
}

.box {
    width: 40%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;     /*Para colocar a fonte na parte de baixo*/
    justify-content: flex-end;  /*<---*/
}
/*_______________________________*/

/*---------Lado Esquerdo---------*/
.img-left {
    color: rgba(255, 255, 255, 0.575);
    margin-right: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 250px;
}

.text {
    padding-left: 10px; /* Espaço entre a imagem e o texto */
    color: #000000; /* Cor do texto */
    max-width: 400px; /* Define uma largura máxima para o texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 8px;
    margin-left: 0px;
}

.sagrada-familia-img {
    background-image: url(Imagens/Sagrada-Familia.jpg);
    width: 250px;
    height: 260px;
}

.sao-francisco-img {
    background-image: url(Imagens/Sao-francisco-edit.jpeg);
    width: 245px;
    height: 380px;
}

.sagrada-familia {
    width: 400px;
    height: 340px;
}

.Magnificat {
    width: 400px;
    height: 340px;
}
/*_______________________________*/


/*---------Lado direito---------*/
.img-right {
    color: rgba(255, 255, 255, 0.575);
    margin-right: 0px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 250px;
}

.Magnificat-img {
    width: 240px;
    height: 400px;
    background-image: url(Imagens/Nossa-senhora.jpeg);
}

.divina-misericodia-img {
    width: 250px;
    height: 300px;
    background-image: url(Imagens/jesus-misericordioso.jpg);
}

.divina-misericodia {
    width: 300px;
    height: 290px;
    max-width: 330px;
}

.sao-francisco {
    width: 400px;
    height: 320px;
}    

.content {
    padding: 20px;
    margin-top: 200px; /* Para não sobrepor com os bloquinhos */
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 16px;
}

.alma-de-cristo {
    color: rgb(199, 44, 44);
}
/*_______________________________*/


/*---------Cor do Link---------*/
a {
    color: inherit; /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

a:visited {
    color: inherit; /* Herda a cor do elemento pai para links visitados */
}

a:hover {
    color: inherit; /* Herda a cor do elemento pai ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse, se desejado */
}

a:active {
    color: inherit; /* Herda a cor do elemento pai quando clicado */
}
/*_______________________________*/

/*---------Telas menores---------*/

/* Telas pequenas */
@media (max-width: 600px) {
    .site-conteudo {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .box {
        width: 40%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        flex-direction: column;     /*Para colocar a fonte na parte de baixo*/
        justify-content: flex-end;  /*<---*/
    }
    /*---------Lado Esquerdo---------*/
.img-left {
    color: rgba(255, 255, 255, 0.575);
    margin-right: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 250px;
}

.text {
    padding-left: 10px; /* Espaço entre a imagem e o texto */
    color: #000000; /* Cor do texto */
    max-width: 400px; /* Define uma largura máxima para o texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 8px;
    margin-left: 0px;
}

.sagrada-familia-img {
    background-image: url(Imagens/Sagrada-Familia.jpg);
    width: 250px;
    height: 260px;
}

.sao-francisco-img {
    background-image: url(Imagens/Sao-francisco-edit.jpeg);
    width: 245px;
    height: 380px;
}

.sagrada-familia {
    width: 400px;
    height: 360px;
}

.Magnificat {
    width: 400px;
    height: 380px;
}
/*_______________________________*/


/*---------Lado direito---------*/
.img-right {
    color: rgba(255, 255, 255, 0.575);
    margin-right: 0px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 250px;
}

.Magnificat-img {
    width: 240px;
    height: 400px;
    background-image: url(Imagens/Nossa-senhora.jpeg);
}

.divina-misericodia-img {
    width: 250px;
    height: 300px;
    background-image: url(Imagens/jesus-misericordioso.jpg);
}

.divina-misericodia {
    width: 300px;
    height: 320px;
    max-width: 330px;
}

.sao-francisco {
    width: 400px;
    height: 350px;
}    

.content {
    padding: 20px;
    margin-top: 200px; /* Para não sobrepor com os bloquinhos */
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 16px;
}
}

/* Telas médias */
@media (min-width: 601px) and (max-width: 1000px) {
    .site-conteudo {
        width: 80%;
        height: auto;
        padding: 10px;
    }
}

/* Telas grandes */
@media (min-width: 1080px) {
    .site-conteudo {
        width: auto;
        height: auto;
        padding: 10px;
    }
}

/*_______________________________*/



.texto-se-caso-precisar {
    padding-left: 10px; /* Espaço entre a imagem e o texto */
    max-width: 400px; /* Define uma largura máxima para o texto */
    color: #000000; /* Cor do texto */
    width: 400px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 8px;
    margin-right: 0px;
}
