/* estilos.css */


body {
    font-family: "Jersey", sans-serif;
    font-size: 24px;
    background-color: hsl(0, 0%, 0%);
    text-align: center;
}

hr {
    max-width: 60%; /* Defina a largura máxima desejada */
    margin: 0 auto;
}

/*Fontes*/

.Jersey {
    font-family: 'Jersey';
    font: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey';
    src: url('Fonts/Jersey15-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

li {
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

p {
    font-size: 20px;
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*_____Bolinhas de listas_____*/
.text-space>ul {
    padding: 0;
    list-style-type: disc;
}

.text-space>ul>li {
    list-style-position: inside;
}

.text-space>ul>li::marker {
    color: rgb(129, 118, 186);
}
/*_____________________________*/

.cores {
    background: linear-gradient(to right, #ffffff 50%, #ffea00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
